In [8]:
%%markdown
<https://www.youtube.com/watch?v=57qAxRV577c>

<https://www.youtube.com/watch?v=57qAxRV577c>

In [1]:
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
start=datetime.datetime(2012,1,1)
end=datetime.datetime(2017,1,1)

In [3]:
tesla=web.DataReader('TSLA','yahoo',start,end)
ford =web.DataReader('F','yahoo',start,end)
gm   =web.DataReader('GM','yahoo',start,end)

In [5]:
tesla.to_csv

<bound method NDFrame.to_csv of                  High        Low       Open      Close    Volume  Adj Close
Date
2012-01-03   5.900000   5.530000   5.788000   5.616000   4640500   5.616000
2012-01-04   5.734000   5.500000   5.642000   5.542000   3150500   5.542000
2012-01-05   5.586000   5.370000   5.552000   5.424000   5027500   5.424000
2012-01-06   5.558000   5.282000   5.440000   5.382000   4931500   5.382000
2012-01-09   5.498000   5.224000   5.400000   5.450000   4485000   5.450000
...               ...        ...        ...        ...       ...        ...
2016-12-23  42.689999  41.542000  41.599998  42.667999  23352500  42.667999
2016-12-27  44.450001  42.883999  42.976002  43.905998  29578500  43.905998
2016-12-28  44.759998  43.439999  44.306000  43.948002  18912500  43.948002
2016-12-29  43.840000  42.824001  43.712002  42.936001  20225000  42.936001
2016-12-30  43.500000  42.335999  43.259998  42.737999  23213000  42.737999

[1258 rows x 6 columns]>