In [21]:
import pandas_datareader.data as web
from pandas_datareader._utils import RemoteDataError
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from functools import lru_cache
%matplotlib inline

In [17]:
@lru_cache #cache so we dont download shit all the time
def gimme_da_stock(ticker:str,
                   source:str,
                   start:datetime.datetime,
                   end:datetime.datetime,) -> pd.DataFrame:
    return web.DataReader(ticker,source,start,end)

In [24]:
start=datetime.datetime(2012,1,1)
end=datetime.datetime(2022,1,1)

stock_list = 'SBSW MTRN NIC GMKN CNC POS NICK VALE 2362 GLEN BHP RRR TSLA'.split(' ') #YOINK from https://www.finder.com/nickel-mining-stocks
print(stock_list)

stock_dict=dict()
for stock_ticker in stock_list:
    try:
        stock_dict[stock_ticker] = gimme_da_stock(stock_ticker, 'yahoo', start, end)
    except RemoteDataError as rde:
        print(rde)
        stock_dict[stock_ticker] = rde

tesla=stock_dict['TSLA']

['SBSW', 'MTRN', 'NIC', 'GMKN', 'CNC', 'POS', 'NICK', 'VALE', '2362', 'GLEN', 'BHP', 'RRR', 'TSLA']
No data fetched for symbol GMKN using YahooDailyReader
No data fetched for symbol 2362 using YahooDailyReader
No data fetched for symbol GLEN using YahooDailyReader

In [15]:
tesla.head()

             High    Low   Open  Close     Volume  Adj Close
Date
2012-01-03  5.900  5.530  5.788  5.616  4640500.0      5.616
2012-01-04  5.734  5.500  5.642  5.542  3150500.0      5.542
2012-01-05  5.586  5.370  5.552  5.424  5027500.0      5.424
2012-01-06  5.558  5.282  5.440  5.382  4931500.0      5.382
2012-01-09  5.498  5.224  5.400  5.450  4485000.0      5.450