In [1]:
# YOINK from https://blog.devgenius.io/algorithmic-trading-backtesting-a-strategy-in-python-3a136be16ece

# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import pyfolio as pf
import datetime as dt
import pandas_datareader.data as web
import os
import warnings

/home/henry/.cache/pypoetry/virtualenvs/scratch-sVrYDMjO-py3.9/lib/python3.9/site-packages/pyfolio/pos.py:26: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  warnings.warn(

In [3]:
# print all outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:

# downloading historical necessary data for backtesting and analysis
_start = dt.date(2015, 1, 2)
_end = dt.date(2020, 4, 30)
ticker = 'MSFT'
df = yf.download(ticker, start=_start, end=_end)

[*********************100%***********************]  1 of 1 completed

In [5]:
# calculating buy and hold strategy returns
df['bnh_returns'] = np.log(df['Adj Close']/df['Adj Close'].shift(1))
df.head(3)

,Open,High,Low,Close,Adj Close,Volume,bnh_returns
Date,,,,,,,
2015-01-02,46.660000,47.419998,46.540001,46.759998,41.108841,27913900,NaN
2015-01-05,46.369999,46.730000,46.250000,46.330002,40.730801,39673900,-0.009239
2015-01-06,46.380001,46.750000,45.540001,45.650002,40.132984,36447900,-0.014786